<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @recipe.name %> Recipe</title>
  </head>
  <body>
    <h1><%= @recipe.name %> Recipe</h1>
    <p>Ingredients: <%= @recipe.ingredients %></p>
    <p>Cook Time: <%= @recipe.cook_time %></p>
    <form method="post" action="/recipes/<%=@recipe.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete" id="delete">
    </form>
  </body>
</html>
